@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header-menu {
    display: flex;
    align-items: center!important;
    justify-content: space-between!important;
    height: 60px;
    padding: 0 25px;
    background: #0000004d;
}

.header-menu .logo {
    font-size: 25px;
    font-weight: bold;
}

.header-menu .menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10;
}

.header-menu .menu-list a {
    text-decoration: none;
    padding: 7px 15px;
    transition: all .4s ease;
    border-radius: 5px 0;
}

.header-menu .menu-list a:hover {
    transform: scale(1.1);
    background: #0000004d;
}

.container {
    padding: 25px;
}

.footer {
    padding: 15px;
    background: #0000004d;
}

.footer p {
    font-size: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}